@page "/wiki/effects"
@using System.Text.Json
@using Client.Features.Notion
@using Client.Features.Shared
@using Client.Features.Shared.Components
@using Client.Features.Shared.Toasts
@using Microsoft.Extensions.Caching.Memory
@using ErrorOr
@layout WikiLayout
@inject BackendClient Backend
@inject PersistentComponentState Persistence
@inject IServiceProvider Services
@inject NavigationManager Navigation

<OpenGraph 
    Title="Статусные эффекты"
    Description="На этой странице перечислены статусные эффекты системы Аркленс"/>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="input-group input-group-lg">
            <span class="input-group-text bi bi-search"></span>
            <input type="text" class="form-control" value="@Query" placeholder="Поиск" @onchange="@Search"/>
        </div>
    </div>
    <div class="row">
        @if (_effects is null)
        {
            <Spinner/>
        }
        else foreach (var effect in _effects.OrderBy(x => x.Name))
        {
            <div class="col-12 col-md-4 col-lg-3 mb-3">
                <div class="card shadow h-100">
                    @if (effect.CoverUrl is not null)
                    {
                        <img src="@effect.CoverUrl" alt="@effect.Name" class="card-img-top"/>
                    }
                    <div class="card-body">
                        <h5 class="card-title">
                            <Twemoji Text="@effect.Icon"/>
                            <span class="text-truncate">@effect.Name</span>
                        </h5>
                        <p class="card-text">@((MarkupString)effect.Description)</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <span>
                            <i class="bi bi-link-45-deg"></i>
                            <a href="@GetStatusEffectPageUrl(effect)">Ссылка</a>
                        </span>
                        @if (effect.PageUrl is not null)
                        {
                            <span>
                                <i class="bi bi-box-arrow-up-right"></i>
                                <a href="@effect.PageUrl">Notion</a>
                            </span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {

    private IReadOnlyCollection<StatusEffectModel>? _effects;

    public string? Query { get; set; } = null!;

    private void Search(ChangeEventArgs e)
    {
        Query = e.Value as string;
        if (Services.GetRequiredService<IMemoryCache>().TryGetValue(GetCacheKey(), out _effects))
        {
            return;
        }

        _effects = null;
        _ = Task.Run(async () =>
        {
            await FetchStatusEffects();
            await InvokeAsync(StateHasChanged);
        });
    }

    protected override async Task OnInitializedAsync()
    {
        if (BlazorEnv.IsServer)
        {
            await Backend.Notion.GetStatusEffects(new INotionClient.GetStatusEffectsRequest(null)).ThenDo(result =>
            {
                _effects = result;
                Persistence.RegisterOnPersisting(() =>
                {
                    Persistence.PersistAsJson(nameof(_effects), _effects);
                    return Task.CompletedTask;
                });
            });
        }
        else
        {
            if (Persistence.TryTakeFromJson(nameof(_effects), out _effects))
            {
                Services.GetRequiredService<IMemoryCache>().Set(GetCacheKey(), _effects);
                return;
            }

            await FetchStatusEffects();
        }
    }

    private string GetStatusEffectPageUrl(StatusEffectModel model) 
        => Navigation.GetUriWithQueryParameter(nameof(Query), model.Name);

    private async Task FetchStatusEffects() =>
        _effects = await Services.GetRequiredService<IMemoryCache>().GetOrCreateAsync(GetCacheKey(), async _ =>
        {
            var result = await Backend.Notion.GetStatusEffects(new INotionClient.GetStatusEffectsRequest(Query));
            if (result.ErrorsOrEmptyList is not [_, ..] errors)
            {
                return result.Value;
            }

            var errorMessage = $"Ошибка при запросе статус эффектов: {string.Join("; ", errors)}";
            await Services.GetRequiredService<ToastSender>()
                .ShowErrorToast(errorMessage);
            throw new Exception(errorMessage);
        });

    private string GetCacheKey() => $"{nameof(StatusEffectsPage)}_{Query}";

}