@using Client.Features.Shared.Toasts
@using Client.Features.Auth
@using Client.Features.Shared.Components
@using Contracts
@inherits LayoutComponentBase
@layout ErrorHandlingLayout

<OpenGraph Title="Artisan.Next.III" Description="Личный сайт Игоря Un1ver5e Бабина." />
@if (BlazorEnv.IsServer)
{
    <div class="position-absolute top-50 start-50 translate-middle">
        <Spinner />
    </div>
}
@{
    var hidden = BlazorEnv.IsServer ? "visually-hidden" : string.Empty;
}
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow @hidden">
    <div class="container-fluid">
        <a class="navbar-brand d-flex" href="" style="height: 46px; width: 46px;">
            @if (BlazorEnv.IsServer)
            {
                <div class="spinner-border text-light" role="status" >
                    <span class="visually-hidden">Loading...</span>
                </div>
            }
            else
            {
                <img src="icon-192.png" alt="Logo" class="flex-fill">
            }
        </a>
        <form class="justify-content-start m-1">
            <LoginControl/>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav gap-1">
                @{
                    List<NavLinkInfo> navLinks =
                    [
                        new("Главная", "", "bi-house-door-fill", NavLinkMatch.All),
                        new("Wiki", "wiki", "bi-database-fill"),
                        new("Персонажи", "charsheet", "bi-file-person-fill"),
                        new("Панорамы","maps", "bi-signpost-2-fill"),
                    ];
                    if (BlazorEnv.IsDebug)
                    {
                        navLinks.Add(new NavLinkInfo("Swagger", "swagger", "bi-file-earmark-bar-graph-fill"));
                    }

                    if (_isAdmin)
                    {
                        navLinks.Add(new NavLinkInfo("Админка", "admin/users", "bi-people-fill"));
                    }
                }
                @foreach (var navLink in navLinks)
                {
                    <NavLink href="@navLink.Href"
                             class="btn btn-lg text-body-emphasis"
                             Match="@navLink.Match"
                             ActiveClass="bg-body-secondary shadow-sm">
                        <i class="bi @navLink.Icon"></i>
                        @navLink.Label
                    </NavLink>
                }
                <button class="btn" onclick="changeTheme()">
                    <i id="themeIcon"></i>
                </button>
                <a href="https://github.com/MindHardt/Artisan.Next.III">
                    <i class="bi bi-github"></i>
                </a>
                <script>
                    fixThemeIcon();
                </script>
            </div>
        </div>
    </div>
</nav>
<main class="container-lg @hidden">
    <article class="content p-4">
        @Body
    </article>

    @if (BlazorEnv.IsWasm)
    {
        <ToastDisplay />
    }
</main>

@code {
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    private bool _isAdmin;

    protected override async Task OnInitializedAsync()
    {
        _isAdmin = (await AuthenticationStateTask).User.IsInRole(RoleNames.Admin);
        StateHasChanged();
    }

}